<!DOCTYPE html>
<html lang="<?php echo _LANGUAGE_ISO_?>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><?php echo _APPLICATION_NAME_ ?></title>
    <link rel="stylesheet" href="template/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="template/style/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="template/style/css/animate.css">
    <link rel="stylesheet" href="template/style/css/global.css">

    <link rel="icon" type="image/png" href="template/style/graphics/favicon.png?<?php echo rand(); ?>">
    <meta name="application-name" content="<?php echo _APPLICATION_NAME_ ?>"/>
    <meta name="msapplication-square70x70logo" content="template/style/graphics/favicon.png"/>
    <meta name="msapplication-square150x150logo" content="template/style/graphics/favicon.png"/>
    <meta name="msapplication-wide310x150logo" content="template/style/graphics/faviconBig.png"/>
    <meta name="msapplication-square310x310logo" content="template/style/graphics/faviconBig.png"/>
    <meta name="msapplication-TileColor" content="#eeeeee"/>
    <link rel="apple-touch-icon" sizes="57x57" href="template/style/graphics/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="template/style/graphics/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="template/style/graphics/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="template/style/graphics/favicon.png">
    <link rel="icon" type="image/png" href="template/style/graphics/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="template/style/graphics/favicon.png" sizes="96x96">
    <link rel="icon" type="image/png" href="template/style/graphics/favicon.png" sizes="16x16">
    <meta name="theme-color" content="#eeeeee">
  </head>
  <body>
    <div id="mainContent">
