<div class="container">
  <br />
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="center-block text-center">
        <img id="logo" src="template/style/graphics/spafLogo.png" alt=""/>
        <br />
        <h1><?php $t->t('Welcome to SPAF')?></h1>
        <p>
          <?php $t->t('Simple PHP Application Framework')?>
        </p>
      </div>
    </div>
  </div>
</div>
