<script src="template/media/js/jquery-2.2.3.min.js"></script>
<script src="template/media/bootstrap/js/bootstrap.min.js"></script>
<script src="template/media/js/global.js"></script>
<script type="text/javascript">
  <?php
    foreach($javascripts as $javascript) {
      echo $javascript;
    }
  ?>
</script>
